* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin: 30px auto;
  text-align: center;
  max-width: 1200px;
}

input {
  outline: none;
}

#search-box {
  width: 350px;
  margin: 20px 10px;
  text-transform: uppercase;
  padding: 10px 5px;
  border-radius: 5px;
  border: rgb(204, 219, 232) 1px solid;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 
              0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

}

.title {
  margin: 10px 0 30px 0;
}

.search {
  max-width: 500px;
  margin: 0 auto;
}

#search-box:hover {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 
  0 10px 10px rgb(0 0 0 / 22%);
  border: rgb(132, 145, 156) 1px solid;
}

#reset-button {
  padding: 10px 30px;
  outline: none;
  border: rgb(204, 219, 232) 1px solid;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 
              0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

}

#reset-button:hover {
  border: rgb(132, 145, 156) 1px solid;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 
  0 10px 10px rgb(0 0 0 / 22%);
}

.chart {
  max-width: 800px;
  margin: 20px auto;
  height: 60vh;
}

.symbol {
  text-transform: uppercase;
}

.modal {
  width: 100vw;
  height: 100vh;

}

.loader {
  position: absolute;
  top: calc(50% - 6em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(255, 255, 255, 0.214);
  border-left: 1.1em solid #ffffff2c;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.current-price {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid gray;
  width: 250px;
  border-radius: 5px;
  margin: 20px auto;
}

.current-price span {
  font-size: 1.3rem;
  font-weight: 700;
}

#get-price-button {
  padding: 10px 30px;
  font-size: 1rem;
  margin: 30px auto 40px;
  appearance: none;
  border-radius: 5px;
  display: block;
  outline: none;
  cursor: pointer;
  border: rgb(204, 219, 232) 1px solid;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 
              0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color:rgba(255, 255, 255, 0.214);
}

#get-price-button:hover {
  background-color:rgb(0 0 0 / 12%);
  border: rgb(132, 145, 156) 1px solid;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 
  0 10px 10px rgb(0 0 0 / 22%);
}